{% extends "base.html" %}

{% block titulo %}
<title>Acerca de Mí</title>
{% endblock titulo %}

{% block contenido %}
<body>
    <h1>¡Hola, soy John Mackinson!</h1>
    <p>Soy argentino y tengo 19 años. Actualmente, me encuentro dando mis primeros pasos en el fascinante mundo de la programación mientras continúo mis estudios.</p>
    
    <p>Te doy la bienvenida a esta aplicación web que he creado para que puedas registrar tus encuentros de tenis y generar un ranking. Es un proyecto que combina mi interés por la programación con mi pasión por el tenis.</p>

    <h2>Contacto</h2>
    <p>Puedes ponerte en contacto conmigo a través de mi correo electrónico: <a href="mailto:john200430@gmail.com">john200430@gmail.com</a></p>
</body>

{% endblock contenido %}