

{% extends "base.html" %}

{% block contenido %}
<section>
 <div>
   <h1 style="color:orange;">
    Lista del ranking</h1>
   <a href="{% url 'crear_ranking' %}">Agregar jugador al ranking</a>
   <br>

   <table class="table">
     <tbody>
       <tr>
         <th>Nombre</th>
         <th>Apellido</th>
         <th>Puntos</th>
         <td></td>
         <td></td>
         <td></td>
       </tr>
       {% for participante in object_list %}
       <tr>
         <td>{{ participante.nombre }}</td>
         <td>{{ participante.apellido}}</td>
         <td>{{ participante.cantidad_puntos }}</td>
         <td>
           <a href="{% url 'ver_ranking' participante.id %}">Ver</a>
         </td>
         <td>
           {% if user == participante.creador %}
           <a href="{% url 'editar_ranking' participante.id %}">Editar</a>
           {% endif %}
          </td>
         <td>
           {% if user == participante.creador %}
            <a href="{% url 'eliminar_ranking' participante.id %}">
              <i class="bi bi-trash"></i>
            </a>
           {% endif %}
         </td>
       </tr>
       {% endfor %}
     </tbody>
   </table>

 </div>
</section>
{% endblock contenido %}

